:root{
    --color:white;
    --back-color:brown;
}



div{

    background-color: var(--back-color);
}
h1{
    color: var(--color);
}
h2{
    color: var(--color);
}
h3{
    color: var(--color);
}